.hero_header{
    @include padding($bottom:$xlg);
    @include breakpoint($laptops){
        @include padding($bottom:0px);
        min-height: 500px;
    }
    @include breakpoint($desktop) {
        min-height: 800px;
    }
    header{
        @include breakpoint($laptops){
            display: flex;
            justify-content: space-between;
        }
    }
}