/* Default Margin */
.margin-all{
  @include breakpoint($tablets){
    @include margin($top: $sm, $right: $sm, $bottom: $sm, $left: $sm);
  }
  @include breakpoint($laptops){
    @include margin($top: $md, $right: $md, $bottom: $md, $left: $md);
  }
  @include breakpoint($desktop){
    @include margin($top: $lg, $right: $lg, $bottom: $lg, $left: $lg);
  }
  @include breakpoint($largescreens){
    @include margin($top: $xlg, $right: $xlg, $bottom: $xlg, $left: $xlg);
  }
}

.margin-vsides{
  @include breakpoint($tablets){
    @include margin($top: $sm, $bottom: $sm);
  }
  @include breakpoint($laptops){
    @include margin($top: $md, $bottom: $md);
  }
  @include breakpoint($desktop){
    @include margin($top: $lg, $bottom: $lg);
  }
  @include breakpoint($largescreens){
    @include margin($top: $xlg, $bottom: $xlg);
  }
}

.margin-hsides{
  @include breakpoint($tablets){
    @include margin($left: $sm, $right: $sm);
  }
  @include breakpoint($laptops){
    @include margin($left: $md, $right: $md);
  }
  @include breakpoint($desktop){
    @include margin($left: $lg, $right: $lg);
  }
  @include breakpoint($largescreens){
    @include margin($left: $xlg, $right: $xlg);
  }
}

/* Default Padding */
.padding-all{
  @include breakpoint($tablets){
    @include padding($top: $sm, $right: $sm, $bottom: $sm, $left: $sm);
  }
  @include breakpoint($laptops){
    @include padding($top: $md, $right: $md, $bottom: $md, $left: $md);
  }
  @include breakpoint($desktop){
    @include padding($top: $lg, $right: $lg, $bottom: $lg, $left: $lg);
  }
  @include breakpoint($largescreens){
    @include padding($top: $xlg, $right: $xlg, $bottom: $xlg, $left: $xlg);
  }
}

.padding-vsides{
  @include breakpoint($tablets){
    @include padding($top: $sm, $bottom: $sm);
  }
  @include breakpoint($laptops){
    @include padding($top: $md, $bottom: $md);
  }
  @include breakpoint($desktop){
    @include padding($top: $lg, $bottom: $lg);
  }
  @include breakpoint($largescreens){
    @include padding($top: $xlg, $bottom: $xlg);
  }
}

.padding-hsides{
  @include breakpoint($tablets){
    @include padding($left: $sm, $right: $sm);
  }
  @include breakpoint($laptops){
    @include padding($left: $md, $right: $md);
  }
  @include breakpoint($desktop){
    @include padding($left: $lg, $right: $lg);
  }
  @include breakpoint($largescreens){
    @include padding($left: $xlg, $right: $xlg);
  }
}

/* Headers */

h1{
  font-size:4.7rem;
  line-height: 5.1rem;
}

h2{
  font-size: 3.6rem;
  line-height: 4.7rem;
}

h3{
  font-size: 2.5rem;
  line-height: 4.5rem;
}

h4{
  font-size: 2rem;
  line-height: 3rem;
}

h5{
  font-size: 1.4rem;
  line-height: 2.5rem;
}

h6{
  font-size: 1.2rem;
  line-height: 2.3rem;
}

/* Container */

.container{
  max-width: 90%;
  @include breakpoint($tablets){
    max-width:$main_width;
  }
  margin:0 auto;
}

.container.full_width{
  max-width: 100%;
  margin:0 auto;
}