/*Stucturer*/
    $main_width:1070px;
    

/*Colors*/
    $gray: #7e7e7e;
    $black:#000000;  
    $white:#ffffff;
    $darkGreen: #2c9576;
    $darkRed: #c15974;
    $lightBlue: #387bc9;


/*Fonts*/
$regular-font:"Open Sans", "Segoe UI", Tahoma, sans-serif;
$light-weight:300;
$regular-weight:400;
$bold-font:"Open Sans", "Arial Black", sans-serif;
$semibold-weight:600;
$extrabold-weight:700;

/*Responsive Breakpoints*/
$phone:320px;
$tablets:481px;
$laptops:769px;
$desktop:1025px;
$largescreens:1201px;


/*Responsive Padding/Margin Queres*/
$sm: 1rem;
$md: 1.7rem;
$lg: 2.8rem;
$xlg: 3.9rem;

$sm-only: "only screen and (max-width: $tablets)";